.navbar-header{
    height: 50px;
}

.header {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 50px;
    color:white;
    background: black;
}

.header h4 {
    text-align: center;
    padding: 8px 0 0 500px;
    
}

.header Button{
    position: fixed;
    right: 10px;
    font-size: 30px;
    color: white;
}