.testcase-heading{
    text-align: center;
}

.fisrtCol{
    width: 150px;
}
th{
    font-size: 20px;
}

.display .testcase-table{
font-size: 15px;
}

.display .testcase-table thead{
    background: black;
    color: white;
    border-collapse: collapse;
    padding: 20px 0;
    font-size: 20px;


}
table.table.table-sm.table-striped.table-bordered.table-hover {
    width: auto;
    margin-left: 50px;
}

button.formOpenButton.btn.btn-outline-secondary{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
}

span.material-symbols-outlined{
    font-size: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}


  .my-modal{
     min-width: 50%;
    }